PORT=4000
CART_SERVICE_URL=http://nikitakonan-cart-api-test.us-east-1.elasticbeanstalk.com/api
ORDER_SERVICE_URL=http://nikitakonan-cart-api-test.us-east-1.elasticbeanstalk.com/api/profile/cart
PRODUCT_SERVICE_URL=https://34yloy2n19.execute-api.us-east-1.amazonaws.com/prod
IMPORT_SERVICE_URL=https://1a0lfhhyie.execute-api.us-east-1.amazonaws.com/prod